// Fonts
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.articles-pl-25 {
  padding-left: 25px !important;
}

.calendar-container {
  padding: 15px !important;
}

.custom-position-title > i,
.custom-position-title > a {
  position: relative !important;
  left: -30px !important;
}

.p0 {
  padding: 0 !important;
}

.float-chevron {
  right: 0;
  margin: 0 auto !important;
  position: absolute;
  bottom: 31%;
}

.home-menu-item{
  margin-bottom: 15px !important;
}

.list-nominas .list-group-item a {
  color: darkgray !important;
}

.panel-beneficios {
  width: 100%;
  background-color: #62a7ea !important;
  color: white !important;

  .list-group,
  .list-group-item {
    background-color: #62a7ea !important;
    color: white !important;
  }

  .panel-footer {
    text-align: right !important;
    border: 0 !important;
    float: right;
    bottom: 0;
    position: absolute;
    width: 100%;
    border: 0 !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: white !important;
  }
}

.panel-documentos {
  width: 100%;
  background-color: #F76767 !important;
  color: white !important;
  height: 200px !important;
  .list-group,
  .list-group-item {
    background-color: #F76767 !important;
    color: white !important;
  }
  .panel-footer {
    text-align: right !important;
    border: 0 !important;
    float: right;
    bottom: 0;
    position: absolute;
    width: 100%;
    border: 0 !important;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  {
    color: white !important;
  }

  .irpf{
    color: rgba($color: #FFFFFF, $alpha: 0.8) !important;
  }

  .mod145 {
    color: rgba($color: #FFFFFF, $alpha: 1.0) !important;
  }
}

.panel-h350 {
  min-height: 350px !important
}

.panel-h350 > .panel-footer {
  min-height: 20px !important;
  bottom: 0;
  position: absolute;
  width: 100%;
  border: 0 !important;
}

.site-navbar .navbar-header .navbar-brand-logo {
  height: 100% !important;
  padding: 0.1px !important;
}

.social-link-icon {
  font-size: 30px !important;
  color: darkgray;
}
